<div class="login-container">
    <div class="login-wrap">
        <form class="login-form">
            <h1>ACCOUNT REGISTER</h1>
            <h4>USERNAME</h4>
            <div class="input-wrap">
                <input class="input" type="text">
                <span class="focus-input"></span>
            </div>
            <h4>PASSWORD</h4>
            <div class="input-wrap password">
                <input class="input" type="text">
                <span class="focus-input"></span>
            </div>
            <div class="meta">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Remember me</label>
                </div>
                <div class="forgot-password"><a href="/"></a>Forgot Password?</div>
            </div>
            <div class="login-method">
                <div class="input-wrap">
                    <button class="btn primary-button">LOGIN</button>

                </div>
                <div> OR </div>
                <div class="login-socials">
                    <a href="/" class="login-socials-item">
                        <i class="fa fa-facebook-f" aria-hidden="true"></i>
                    </a>
                    <a href="/" class="login-socials-item">
                        <img src="/img/google.png" alt="GOOGLE">
                    </a>
                </div>
            </div>
            <div class="text-center">Don't have an account? <a href="/register">Register</a></div>

        </form>
    </div>
</div>