a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
.avatar-sm {
  display: inline-block;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
.input-wrap {
  position: relative;
  margin-bottom: 36px;

  input {
    transition: all 1s;
    &:focus {
      outline: none;
    }
  }
  .focus-input {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid black;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
  }
  .input:focus + .focus-input {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.login-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  .login-socials-item {
    font-size: 25px;
    color: #3b5998;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin: 5px;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  }
}
.login-container {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  padding: 40px 0;
  .login-wrap {
    width: 560px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding: 55px 85px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: initial;
    }
    h1 {
      font-size: 30px;
      margin-bottom: 32px;
    }
    h4 {
      font-size: 13px;
      margin-bottom: 11px;
    }
    .input-wrap {
    }

    .meta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 48px;
      .custom-control-input:checked ~ .custom-control-label::before {
        border-color: #212631;
        background-color: #212631;
      }
      .custom-control-input:focus ~ .custom-control-label::before {
        box-shadow: 0 0 0 0.2rem rgba(33, 38, 49, 0.15);
      }
    }
    .login-method {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 50px;
    }
  }
}
